*{
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans',sans-serif;
    font-family: 'Poppins',sans-serif;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 15px;
}
ul{
    display: flex;
}
ul li{
    list-style: none;
    padding: 0 13px;
    font-size: 15px;
}
ul li a{
    color:white;
    text-decoration: none;
}
ul >li >a:hover{
    color: rgb(66, 11, 77);
}
main{
    min-height: 90vh;
    padding: 2px;
}
footer{
    font-size: 12px;
    background-color: black;
    color:white;
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 80vw;
    margin: auto;
    padding: 15px;
}
.container h1{
    padding: 12px 0;
}
.btn{
    background: black;
    color: white;
    padding: 9px 12px;
    border: 1px solid gray;
    border-radius: 6px;
    cursor: pointer;
}
#resultCont div::first-letter{
    text-transform: uppercase;
}

@media only screen and (max-width:600px) {
    body{
        background-color: lightblue;
    }
    .container{
        font-size: 12px;
    }
    nav{
        flex-direction: column;
    }
}